@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.statelists {
    background-color: #222222;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: "bold";
    border-bottom: white solid 1px;
    font-family: 'Roboto', sans-serif;
}

